@import 'variables';

.add-product-wrapper {
    background-color: $color-white;
    padding: 3rem;
    margin: 2rem;
    box-shadow: $base-shadow;
    height: 500px;

    .product-form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            border: none;
            background-color: $color-primary;
            color: $color-white;
            padding: .5rem;
            margin: 2rem;
            box-shadow: $base-shadow;

            &:hover {
                color: $color-secondary-light;
                cursor: pointer;
            }

            &:disabled {
                background-color: $color-secondary-light;
                color: $color-secondary-dark;
                cursor: auto;
            }
        }

        label {
            font-size: 12px;
            color: $color-secondary-dark;
            margin-top: .5rem;
        }

        input[type=text] {
            border: 1px solid $color-secondary-light;
            border-radius: 0;
            padding: .5rem;
            margin: .5rem 0;

            &:focus {
                border: 1px solid $color-secondary-dark;
                outline: none;
            }

            &:invalid {
                outline: none;
                border: 1px solid $color-primary;
            }
        }

        p {
            color: $color-primary;
            font-size: 12px;
        }
    }

}
