@import 'variables';

.detail-view-wrapper {
    justify-content: center;
    align-items: center;
    box-shadow: $base-shadow;
    height: 100%;

    .product {
        justify-content: center;
        align-items: center;
    }

    button {
        border: none;
        background-color: $color-primary;
        color: $color-white;
        padding: .5rem;
        margin: 2rem;
        box-shadow: $base-shadow;

        &:hover {
            color: $color-secondary-light;
            cursor: pointer;
        }
    }
}